script: bash ./publish.sh

language: node_js

node_js:
  - "0.12"

cache:
  directories:
    - node_modules
    - app/node_modules

branches:
  only:
    - master

env:
  global:
    - secure: CP44yoiNZ5q0JgZksF1zgZzyYqg0NHLDHvdzjrkYJggEPzxHYXX69W83xL5MtKWeZ56Bj0m+zFgDygPVkL12rxZ/3xqf/YDYcKuJ/rzDbsYNtE9KFmd1kQgVVEvcl5F6FkoXVDT4rkcEecC2BOcNYRLSUnbLFEMLoHH0Yeik9zVyjNfj24aGYtBJ4FOptlBMornETU6rql1I/ZEFGrJxQj9Thqn2DmKXIX0xH6+sqinP+r6jRUk+UsA5VZ4XJkOrAy3yvZa6xlu5ZShUaGSbXTkeS8wa+r46P/0UPGbiXGSsJyizLDr9RP2hAoVZEUCkTEBdiAKnLbqUhZe1pApdLYoBlj6GfigD0tlKjIAcUIAab1Elq0A6a8kjm7SOg0FaoPYDc0EPDthNGE/k9siywieQ7wdxBwKidM/XRZ6AINfFhKp7oFXSZHAO7yEw9kUoIqx1mltljLrorts/qrjDXJrAZ1KRu/V7G5WtUEPAo8IIwRQPyenP+VJwp9QjsUSTdjugYhkIoZAb2aBekv/B10AEB8AYIVuoiqR3ajSf70ggvQj+q1/Lmmo//448mq4sXRjMUAwcKDmpwsDko2gXzFTdgaOStnFFuNv6spBIpxAchfZDd2qHz+nXnTe6Vv2HGhm3JwPgVKMyiUF3If+MU7A4nsCen4mEZD6gXqI2pAE=
