<div class="dropdown">
    <div class="link-me"
         ng-show="!propValue">
        <div class="glyphicon glyphicon-exclamation-sign"></div>
        <div>link me</div>
    </div>
    <button class="btn btn-default dropdown-toggle"
            ng-show="propValue"
            type="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="true">
        {{propValue}}
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li ng-repeat="val in propBounds" ng-show="val !== propValue">
            <a ng-click="changeValue(val)">{{::val}}</a>
        </li>
    </ul>
</div>
