#header {
  background: @c-dark;
  width: 100%;
  color: @c-light;
  position: fixed;
  top:0; left: 0;
  z-index: 1000;

  .header-top {
    padding: 10px;
    overflow: hidden;
    .logo {
      letter-spacing: 5px;
      text-transform: uppercase;
      font-size: 18px;

      .capital {
        font-size: 28px;
      }

      .version {
        letter-spacing: 1px;
        font-size: 12px;
        color: @c-secondary;
      }
    }

    .links {
      a {
        font-size: 28px;
        color: @c-light;

        .transition-duration(@transition-link);

        &.link-left {
          padding-right: @icon-spacing;
        }

        &:hover {
          color: @c-secondary;
        }
      }
    }
  }

  .menu {
    border-top: 1px solid @c-light;
    color: @c-dark;
    background: @c-light;
    //padding-bottom: 5px;
    ul {
      background: @c-dark;
      list-style: none;
      margin-bottom: 0px;

      &.dropdown-menu {
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        margin: 1px 0px  0px 0px;

        li {
          a {
            font-size: 14px;
            text-transform: uppercase;
          }
        }

      }

      li {
        &.pull-left {
          padding-right: @icon-spacing + 3;
        }
        &.pull-right {
          padding-right: 22px;
        }

        &.last-right-item {
          padding-right: 0px;
        }

        a {
          color: @c-light;
          font-size: 22px;
          text-decoration: none;

          .transition-duration(@transition-link);

          &:hover, &.selected {
            background: @c-dark;
            color: @c-secondary;
            .menu-label, .delete-counter {
              color: @c-secondary;
            }
          }

          i {
            display: inline-block;
            vertical-align: middle;
            float: none;
          }

          .menu-label, .delete-counter {
            color: @c-light;
            padding: 0; margin: 0;
            font-size: 14px;
            text-transform: uppercase;
          }
        }
      }
    }
  }
}
