@import '../../node_modules/bootstrap/less/variables';
@import 'utils';

/* common css stylesheet */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

header {
  height: 50px;
  border-bottom: 1px solid #ccc;
}

#content {
  padding-top: 15px;
}
