<!DOCTYPE html>
<!--[if lt IE 7]>
<html lang="en" ng-app="myApp" id="ng-app" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html lang="en" ng-app="myApp" id="ng-app" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html lang="en" ng-app="myApp" id="ng-app" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html ng-app="myApp" id="ng-app" class="no-js"><!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">

    <title>My AngularJS App</title>
    <meta name="description" content=""/>
    <meta name="keywords" content="">

    <link type="text/plain" rel="author" href="humans.txt"/>

    <!-- ICONS -->
    <link rel="icon" href=""/>
    <link rel="apple-touch-icon" href=""/>

    <!-- FACEBOOK METAs -->
    <meta property="og:title" content="">
    <meta property="og:description" content="">
    <meta property="og:image" content="">
</head>
<body ng-cloak="">
<div id="main-wrapper" ng-controller="ApplicationController as appCtrl">
    <header class="container-fluid">
        <div class="row">
            <div class="col-xs-6">
                <button class="btn btn-info"
                        type="button"
                        data-update-graph-btn=""
                        data-toggle="collapse" href="#menu">Menu
                </button>
                <button class="btn btn-info"
                        ng-class="{'btn-info': !appCtrl.linkMode, 'btn-danger': appCtrl.linkMode}"
                        type="button"
                        ng-click="appCtrl.toggleLinkMode()">Link Nodes
                </button>
            </div>
            <div class="col-xs-6">
                <button class="btn btn-info"
                        role="tab"
                        data-update-graph-btn=""
                        data-toggle="tab" data-target="#nodes-menu">Add Node
                </button>
                <button class="btn btn-info"
                        role="tab"
                        data-update-graph-btn=""
                        data-toggle="tab" data-target="#control-panel">{{appCtrl.currentNode | nodename}}
                </button>
            </div>
        </div>
    </header>
    <section id="menu" class="container-fluid collapse in">
        <div class="row">
            <div class="col-xs-12">
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="nodes-menu">
                        <button class="btn btn-info"
                                ng-click="appCtrl.addNode()">OSCILLATOR
                        </button>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="control-panel">
                        <div ng-show="!appCtrl.currentNode">
                            Select a Node and tweak it!
                        </div>
                        <div ng-show="appCtrl.currentNode">
                            control panel
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="content" class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <div data-graph
                     data-current-node="appCtrl.currentNode"
                     data-graph-ready="appCtrl.graphReady"></div>
            </div>
        </div>
    </section>
</div>
</body>
</html>
